* {
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
    border-bottom: none !important;
}

a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none !important;
    border-bottom: none !important;
}